@import "../../../src/colors";

.authorization {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: $white-color;

  &__form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    width: 340px;
    height: 450px;
    background: $white-color;
    box-shadow: 0 0 6px $shadow-color;
    border-radius: 12px;
  }

  .form {
    @import "../../components/form/header/header";
    @import "../../components/form/footer/footer";
  }
}
