<div class="chat">
    <div class="chat__avatar">
    </div>
    <div class="chat__main">
        <label class="name">{{name}}</label>
        <label class="message">{{message}}</label>
    </div>
    <div class="chat__info">
        <label class="time">10:45</label>
        {{#if count}}
            <label class="count">{{count}}</label>
        {{/if}}
    </div>
</div>
