@import "../../../../../src/colors";

.chat {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 72px;
  width: 100%;
  background-color: $white-color;
  border-top: 1px solid $border-color;
  padding: 12px 0;

  &:last-child {
    border-bottom: 1px solid $border-color;
  }

  &__avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    min-width: 48px;
    border-radius: 24px;
    background-color: $border-color;
    margin-right: 10px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    width: 100%;

    .name {
      font-weight: 600;
      font-size: 13px;
      line-height: 13px;
      color: $font-color;
    }

    .message {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: $font-placeholder-color;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 25px;

    .time {
      font-weight: 500;
      font-size: 9px;
      line-height: 13px;
      color: $font-placeholder-color;
    }

    .count {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 20px;
      width: 20px;
      border-radius: 10px;
      background-color: #3369f3;
      font-weight: 500;
      font-size: 11px;
      line-height: 12px;
      color: $white-color;
    }
  }
}
