<div class="profile-page">
    <div class="profile-page__back">
        {{> button id="toback"}}
    </div>
    <div class="profile-page__main">
        <header class="profile-page__header">
            <div class="avatar"></div>
            <label class="name">Иван</label>
        </header>
        {{> profileField name="Почта" value="example@ya.ru"}}
        <hr class="separator">
        {{> profileField name="Логин" value="ivanov"}}
        <hr class="separator">
        {{> profileField name="Имя" value="Иван"}}
        <hr class="separator">
        {{> profileField name="Фамилия" value="Иванов"}}
        <hr class="separator">
        {{> profileField name="Имя в чате" value="Иван"}}
        <hr class="separator">
        {{> profileField name="Телефон" value="+7 (999) 999-99-99"}}
        <footer class="profile-page__footer">
            <div class="profile-page__group">
                <label class="label">Изменить данные</label>
            </div>
            <hr class="separator">
            <div class="profile-page__group">
                <label class="label">Изменить пароль</label>
            </div>
            <hr class="separator">
            <div class="profile-page__group">
                <label id="logout" class="label label-failed">Выйти</label>
            </div>
        </footer>
    </div>
</div>
