@import "../../../src/colors";

.entry-field {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 280px;
  padding: 16px 0;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    height: 28px;
    width: 100%;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: $font-placeholder-color;
  }

  .text-error {
    display: none;
    padding-top: 14px;
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    color: $font-input-error;
  }

  &.error {
    padding-bottom: 0;

    .text-error {
      display: flex;
      padding-top: 8px;
    }
  }

  &.focus {
    padding-top: 3px;
  }

  &.focus & {
    &__label {
      position: relative;
      height: 13px;
      font-size: 9px;
      line-height: 9px;
    }
  }
}
