@import "../../../src/colors";

.entry-field {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 280px;
  padding: 16px 0 32px 0;
  position: relative;

  &__label {
    display: flex;
    flex-direction: revert;
    align-items: center;
    position: absolute;
    height: 28px;
    width: 100%;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: $font-placeholder-color;
  }

  &__error {
    display: none;
    padding-top: 14px;
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    color: $font-input-error;
  }

  &.error {
    padding-bottom: 10px;

    .entry-field__error {
      display: flex;
    }
  }

  &.focus {
    padding-top: 7px;

    .entry-field__label {
      position: relative;
      height: 9px;
      font-size: 9px;
      line-height: 9px;
    }

    .entry-field__input {
      background-color: $white-color;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
