<div class="chat">
    <div class="chat__list">
        <header class="chat__header">
            <label id="profile" class="label">Профиль</label>
            <input class="input" placeholder="поиск"/>
        </header>
    </div>
    <div class="chat__main">
        <p class="text">Выберите чат чтобы отправить сообщение</p>
    </div>
</div>
