<div class="chat">
    <div class="chat_list">
        <header>
            <label id="profile" class="profile_button">Профиль</label>
            <input class="search" placeholder="поиск"/>
        </header>
    </div>
    <div class="chat_main">
        <p>Выберите чат чтобы отправить сообщение</p>
    </div>
</div>