<div class="error-page">
    <div class="error-page__message">
        <label class="error-page__message-code">500</label>
        <p class="error-page__message-text">Мы уже работаем над проблемой</p>
        <label id="toback" class="error-page__back">Назад к чатам</label>
    </div>
</div>
