<main class="error-page">
    <div class="error-page__message">
        <label class="error-page__message-code">500</label>
        <p class="error-page__message-text">Мы уже работаем над проблемой</p>
        {{{toBackLink}}}
    </div>
</main>
