<div class="error-page">
    <div class="message">
        <label class="message_code">500</label>
        <p class="message_text">Мы уже работаем над проблемой</p>
        <label class="message_back" id="toback">Назад к чатам</label>
    </div>
</div>