@import '../../../../../src/colors';

.profile-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 510px;

  p {
    margin: 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
  }

  .profile-field__name {
    color: $font-color;
  }

  .profile-field__value {
    color: $font-placeholder-color;
  }
}
