$accent-color: #3369f3 !default;
$danger-color: #ff0000 !default;
$white-color: #ffffff !default;
$shadow-color: rgba(0, 0, 0, 0.14) !default;
$font-color: #1e1e1e !default;
$border-color: #eaeaea !default;
$font-placeholder-color: #999999 !default;
$bg-input-color: #efefef !default;
