$accent-color: #3369f3 !default;
$danger-color: #ff0000 !default;
$white-color: #ffffff !default;
$black-color: #000000 !default;
$black-color-opacity-40: rgba(0, 0, 0, 0.4) !default;
$shadow-color: rgba(0, 0, 0, 0.14) !default;
$font-color: #1e1e1e !default;
$border-color: #eaeaea !default;
$font-placeholder-color: #999999 !default;
$bg-input-color: #efefef !default;
$font-input-error: #ff2f2f !default;
$selected-chat-bg: #e4edfd !default;
$color-hover-options-chat: #f5f5f5 !default;
