@import './colors';

body {
  font-family: 'Inter';
  font-style: normal;

  margin: 0;
  padding: 0;
  background-color: $white-color;

  input {
    border: none;
    outline: none;
  }

  p {
    margin: 0;
  }
}
