@import '../../../src/colors';

.not-found-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: $white-color;

  .not-found-page__message {
    display: flex;
    flex-direction: column;
    align-items: center;

    .not-found-page__message-code {
      margin-bottom: 40px;
      font-size: 40px;
      line-height: 40px;
    }

    .not-found-page__message-text {
      margin: 0 0 70px 0;
      font-size: 20px;
      line-height: 20px;
    }

    .not-found-page__message-code,
    .not-found-page__message-text {
      font-weight: 500;
      text-align: center;
      color: $font-color;
    }

    .not-found-page__back {
      font-size: 11px;
      line-height: 11px;
      color: $accent-color;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
