<main class="not-found-page">
    <div class="not-found-page__message">
        <label class="not-found-page__message-code">404</label>
        <p class="not-found-page__message-text">Данной страницы не существует</p>
        {{{toBackLink}}}
    </div>
</main>
