<main class="not-found-page">
    <div class="not-found-page__message">
        <label class="not-found-page__message-code">404</label>
        <p class="not-found-page__message-text">Данной страницы не существует</p>
        <label id="toback" class="not-found-page__back">Назад к чатам</label>
    </div>
</main>
