<div class="error-page">
    <div class="message">
        <label class="message_code">404</label>
        <p class="message_text">Данной страницы не существует</p>
        <label class="message_back" id="toback">Назад к чатам</label>
    </div>
</div>